@page
@using Models
@model K9_Koinz.Pages.BudgetLines.CreateModel

@{
    ViewData["Title"] = "Create New Budget Line";
}

<h1>Create</h1>

<h4>Budget Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Record.BudgetId" class="control-label"></label>
                <input type="text" value="@Model.Budget.Name" class="form-control" readonly />
                <input type="hidden" asp-for="Record.BudgetId" value="@Model.Budget.Id" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Record.BudgetCategoryId" class="control-label"></label>
                <input id="txtCategory" class="form-control" />
                <input asp-for="Record.BudgetCategoryId" type="hidden" id="hfCategory" />
                <span asp-validation-for="Record.BudgetCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.BudgetedAmount" class="control-label"></label>
                <input asp-for="Record.BudgetedAmount" class="form-control" />
                <span asp-validation-for="Record.BudgetedAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="Record.GreenBarAlways" /> Always Show Bar as Green?
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="Record.DoRollover" /> Rollover Unspent Amount?
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="@PagePaths.BudgetIndex">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
