@page
@using Models
@model K9_Koinz.Pages.BudgetLines.EditModel

@{
    ViewData["Title"] = "Edit Budget Line";
}

<h1>Edit</h1>

<h4>Budget Line</h4>
<hr />
<div class="row mb-3">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Record.Id" />
            <div class="form-group">
                <label asp-for="Record.BudgetId" class="control-label"></label>
                <input type="text" value="@Model.Record.BudgetName" class="form-control" readonly />
                <input type="hidden" asp-for="Record.BudgetId" />
            </div>
            <div class="form-group">
                <label asp-for="Record.BudgetCategoryId" class="control-label"></label>
                <input type="text" value="@Model.Record.BudgetCategoryName" class="form-control" readonly />
                <input type="hidden" asp-for="Record.BudgetCategoryId" />
            </div>
            <div class="form-group">
                <label asp-for="Record.BudgetedAmount" class="control-label"></label>
                <input type="number" asp-for="Record.BudgetedAmount" class="form-control" min="1" />
                <span asp-validation-for="Record.BudgetedAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="Record.GreenBarAlways" /> Always Show Bar as Green?
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="Record.DoRollover" /> Rollover Unspent Amount?
            </div>
            <div class="form-group">
                <a asp-page="@PagePaths.BudgetEdit" asp-route-id="@Model.Record.BudgetId" class="btn btn-secondary">Cancel</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
