html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.no-underline, .no-underline-ever {
    color: inherit;
    text-decoration: none;
}
    .no-underline:hover {
        color: inherit;
        text-decoration: underline;
    }

    .no-underline-ever:hover {
        color: inherit;
    }


.nav-link-hover {
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

    .nav-link-hover:hover {
        color: white !important;
        background-color: black;
        border-radius: 10px;
    }

.link-unstyled, .link-unstyled:link {
    color: inherit;
    text-decoration: inherit;
}

    .link-unstyled:hover {
        color: inherit;
        text-decoration: underline;
    }

.form-group {
    margin-bottom: 0.5em;
}

/* Fixes floating labels sitting on top of autocomplete options */
.form-floating > label {
    z-index: 1 !important;
}

/* BG colors for amount fields */
.txt-positive {
    background-color: #8cff99;
}

.txt-negative {
    background-color: #ff8c8c;
}