@page
@{
    ViewData["Title"] = "400 - Bad Request";
}

<!-- Jumbotron -->
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Keep Looking!</h1>
        <p class="col-md-8 fs-4">
            Looks like you are trying to get to a page that does not exist.<br/>
            It may just not exist anymore if you deleted something! If this does not feel right, please make sure to reach out to Sabin for assistance!
        </p>
    </div>
</div>