@page
@using K9_Koinz.Utils
@using Models
@model K9_Koinz.Pages.SavingsGoals.CreateModel

@{
    ViewData["Title"] = "Create New Savings Goal";
}

<h1>Create</h1>

<h4>Savings Goal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Record.Name" class="control-label"></label>
                <input asp-for="Record.Name" class="form-control" />
                <span asp-validation-for="Record.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Description" class="control-label"></label>
                <input asp-for="Record.Description" class="form-control" />
                <span asp-validation-for="Record.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.AccountId" class="control-label"></label>
                <select asp-for="Record.AccountId" class="form-control" asp-items="@Model.AccountOptions">
                    <option value="" selected disabled>Select an Account...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Record.TargetAmount" class="control-label"></label>
                <input asp-for="Record.TargetAmount" class="form-control" />
                <span asp-validation-for="Record.TargetAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.StartDate" class="control-label"></label>
                <input asp-for="Record.StartDate" class="form-control" value="@DateTime.Today.FormatForUrl()"/>
                <span asp-validation-for="Record.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.TargetDate" class="control-label"></label>
                <input asp-for="Record.TargetDate" class="form-control" />
                <span asp-validation-for="Record.TargetDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.StartingAmount" class="control-label"></label>
                <input asp-for="Record.StartingAmount" class="form-control" />
                <span asp-validation-for="Record.StartingAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
