@page
@using Utils
@model K9_Koinz.Pages.SavingsGoals.DetailsModel

@{
    ViewData["Title"] = "Savings Goal Details";
}

<h1>Details</h1>

<div>

</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Record.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
