@page
@model K9_Koinz.Pages.SavingsGoals.IndexModel
@{
    <h1 style="text-align:center">Nothing exists here, yet!</h1>
    <h3 style="text-align:center">Pester Sabin enough, he might work on it faster.</h3>
}
