@page
@using Models
@using Utils
@model K9_Koinz.Pages.Bills.EditModel

@{
    ViewData["Title"] = "Edit Bill";
}

<h1>Edit</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Record.Id" />
            <div class="form-group">
                <label asp-for="Record.Name" class="control-label"></label>
                <input asp-for="Record.Name" class="form-control" />
                <span asp-validation-for="Record.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.AccountId" class="control-label"></label>
                <select asp-for="Record.AccountId" class="form-control" asp-items="@Model.AccountOptions">
                    <option value="" selected disabled>Select an Account...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Record.MerchantId" class="control-label"></label>
                <input id="txtMerchant" class="form-control" value="@Model.Record.MerchantName"/>
                <input asp-for="Record.MerchantId" type="hidden" id="hfMerchant" />
                <span asp-validation-for="Record.MerchantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.CategoryId" class="control-label"></label>
                <input id="txtCategory" class="form-control" value="@Model.Record.CategoryName"/>
                <input asp-for="Record.CategoryId" type="hidden" id="hfCategory" />
                <span asp-validation-for="Record.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.BillAmount" class="control-label"></label>
                <input asp-for="Record.BillAmount" class="form-control" />
                <span asp-validation-for="Record.BillAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.FirstDueDate" class="control-label"></label>
                <input asp-for="Record.FirstDueDate" class="form-control" value="@Model.Record.FirstDueDate.FormatForUrl()"/>
                <span asp-validation-for="Record.FirstDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.RepeatFrequency" class="control-label"></label>
                <select asp-for="Record.RepeatFrequency" class="form-control" asp-items="Html.GetEnumSelectList<Frequency>()">
                    <option value="" selected disabled>Make a selection...</option>
                </select>
                <span asp-validation-for="Record.RepeatFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.RepeatFrequencyCount" class="control-label"></label>
                <input asp-for="Record.RepeatFrequencyCount" class="form-control" value="1" />
                <span asp-validation-for="Record.RepeatFrequencyCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(function () {
            $("#txtMerchant").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Bills/Edit?handler=MerchantAutoComplete",
                        data: { text: request.term },
                        type: "GET",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(JSON.stringify(response));
                        },
                        failure: function (response) {
                            alert(JSON.stringify(response));
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfMerchant").val(i.item.val);
                },
                minLength: 1
            });

            $("#txtCategory").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Bills/Edit?handler=CategoryAutoComplete",
                        data: { text: request.term },
                        type: "GET",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(JSON.stringify(response));
                        },
                        failure: function (response) {
                            alert(JSON.stringify(response));
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfCategory").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
}
