@page
@model K9_Koinz.Pages.DataImportWizardModel

<form method="post" enctype="multipart/form-data">
	<label asp-for="UploadedFile"></label>
	<input asp-for="UploadedFile" type="file" />
	<input type="submit" asp-page-handler="Upload" />
</form>

@Model.Message

@section Scripts {
    <script src="~/js/dataImporter.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
