@page

<style>
    .container {
        width: 100%;
    }

    .form {
        height: 1900px;
        width: 100%;
    }
</style>

<div class="container">
    <iframe class="form" src="https://docs.google.com/forms/d/e/1FAIpQLScmJXOGyEtsLWAQ5kqqndkwS6zq0OtJsbrW3O0xQrnPywvMWw/viewform?embedded=true">Loading…</iframe>
</div>