@page
@using K9_Koinz.ViewComponents
@model K9_Koinz.Pages.IndexModel
@{
    ViewData["Title"] = "K9 Koinz";
}

<style>
    .col-centered {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hey! Listen!</h5>
            </div>
            <div class="modal-body">
                <h4>This is no longer being maintained. Check out the new version!</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Stay Here</button>
                <a href="https://www.google.com" id="goldLink" class="btn btn-primary">New Site</a>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="jumbotron">
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <img src="/imgs/logo.webp" style="height:100px; width:100px;" />
            </div>
            <div class="flex-grow-1 ms-3">
                <h1 class="display-4">K9 Koinz App</h1>
                <p class="lead">Welcome to K9 Koinz, a simple and customized budgeting app!</p>
            </div>
        </div>
        <hr class="my-4" />
        <p>You can explore the different sections of the app with the navigation bar at the top of the page.  From there, you have access to your accounts, transactions, budgets, and more.</p>
    </div>
</div>


<div class="container">
    <div class="row">
        @await Component.InvokeAsync(nameof(MinimumBalanceAlert))

        @await Component.InvokeAsync("UpcomingBills")

        <div class="col-lg-6 order-md-2">
            <div class="alert alert-light">
                <h4 class="alert-heading">
                    Monthly Spending
                </h4>
                <div id="spendingChartContainer" style="height: 350px; width: 100%; background-color: transparent;"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var thisMonth = @Html.Raw(Model.ThisMonthSpendingJson);
        var lastMonth = @Html.Raw(Model.LastMonthSpendingJson);
        var threeMonthAverage = @Html.Raw(Model.ThreeMonthAverageSpendingJson);

        const currentHost = window.location.hostname; // e.g., camp.k9koinz.com
        const parts = currentHost.split('.');

        if (parts.length >= 3) {
            // Handle subdomain.k9koinz.com
            const subdomain = parts[0];
            const goldHost = `${subdomain}-gold.${parts.slice(1).join('.')}`;
            document.getElementById('goldLink').href = `http://${goldHost}`;
        } else {

        }

        $(document).ready(() => {
            var myModal = new bootstrap.Modal(document.getElementById('warningModal'));
            myModal.show();
        
        makeSpendingChart();
        });
    </script>

    <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script src="~/js/spendingGraph.js"></script>
}