@page

@{
    ViewData["Title"] = "K9 Koinz";
}

<div class="jumbotron">
    <h1 class="display-4">K9 Koinz App</h1>
    <p class="lead">Welcome to K9 Koinz, a simple and customized budgeting app!</p>
    <hr class="my-4" />
    <p>You can explore the different sections of the app with the navigation bar at the top of the page.  From there, you have access to your accounts, transactions, budgets, and more.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>