@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We don't store are personally identifiable information in our database.</p>
<p>While Sabin has access to everyone's sites for debugging and troubleshooting purposes, your information will not be viewed without your permission.</p>