@page
@using Models
@model K9_Koinz.Pages.Accounts.CreateModel

@{
    ViewData["Title"] = "Create New Account";
}

<h1>Create</h1>

<h4>Account</h4>
<hr />

@await Component.InvokeAsync(nameof(Components.PageInstructions), new {
        topicName = "CreateAccount"
    })

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Record.Name" class="control-label"></label>
                <input asp-for="Record.Name" class="form-control" />
                <span asp-validation-for="Record.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Description" class="control-label"></label>
                <input asp-for="Record.Description" class="form-control" />
                <span asp-validation-for="Record.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Type" class="control-label"></label>
                <select asp-for="Record.Type" class="form-control" asp-items="@Html.GetEnumSelectList<AccountType>()"></select>
                <span asp-validation-for="Record.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.InitialBalance" class="control-label"></label>
                <input asp-for="Record.InitialBalance" class="form-control" type="number" />
                <span asp-validation-for="Record.InitialBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.InitialBalanceDate" class="control-label"></label>
                <input asp-for="Record.InitialBalanceDate" class="form-control" type="date" />
                <span asp-validation-for="Record.InitialBalanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.MinimumBalance" class="control-label"></label>
                <input asp-for="Record.MinimumBalance" class="form-control" type="number" />
                <span asp-validation-for="Record.MinimumBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary my-2">
                    <i class="fa-solid fa-floppy-disk"></i> Create
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="@PagePaths.AccountIndex">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
