@page
@using Models
@model K9_Koinz.Pages.Accounts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account.Name" class="control-label"></label>
                <input asp-for="Account.Name" class="form-control" />
                <span asp-validation-for="Account.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Description" class="control-label"></label>
                <input asp-for="Account.Description" class="form-control" />
                <span asp-validation-for="Account.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Type" class="control-label"></label>
                <select asp-for="Account.Type" class="form-control" asp-items="@Html.GetEnumSelectList<AccountType>()"></select>
                <span asp-validation-for="Account.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.InitialBalance" class="control-label"></label>
                <input asp-for="Account.InitialBalance" class="form-control" type="number" />
                <span asp-validation-for="Account.InitialBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.InitialBalanceDate" class="control-label"></label>
                <input asp-for="Account.InitialBalanceDate" class="form-control" type="date" />
                <span asp-validation-for="Account.InitialBalanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
