@page
@model K9_Koinz.Pages.Accounts.EditModel

@{
    ViewData["Title"] = "Edit Account";
}

<h1>Edit</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Record.Id" />
            <div class="form-group form-floating">
                <input asp-for="Record.Name" class="form-control" placeholder="Account Name"/>
                <label asp-for="Record.Name"></label>
                <span asp-validation-for="Record.Name" class="text-danger"></span>
            </div>
            <div class="form-group form-floating">
                <input asp-for="Record.Description" class="form-control" placeholder="Description"/>
                <label asp-for="Record.Description"></label>
                <span asp-validation-for="Record.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-floating">
                <select asp-for="Record.Type" class="form-control" asp-items="@Html.GetEnumSelectList<AccountType>()">
                    <option value="" selected disabled>Account Type</option>
                </select>
                <label asp-for="Record.Type"></label>
                <span asp-validation-for="Record.Type" class="text-danger"></span>
            </div>
            <div class="form-group form-floating">
                <input asp-for="Record.InitialBalance" class="form-control" type="number" placeholder="Initial Balance"/>
                <label asp-for="Record.InitialBalance"></label>
                <span asp-validation-for="Record.InitialBalance" class="text-danger"></span>
            </div>
            <div class="form-group form-floating">
                <input asp-for="Record.InitialBalanceDate" class="form-control" type="date" placeholder="Initial Balance Date"/>
                <label asp-for="Record.InitialBalanceDate"></label>
                <span asp-validation-for="Record.InitialBalanceDate" class="text-danger"></span>
            </div>
            <div class="form-group form-floating">
                <input asp-for="Record.MinimumBalance" class="form-control" type="number" placeholder="Minimum Balance"/>
                <label asp-for="Record.MinimumBalance"></label>
                <span asp-validation-for="Record.MinimumBalance" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <div class="form-check form-switch">
                    @Html.EditorFor(x => x.Record.HideAccountTransactions, new { htmlAttributes = new { @class = "form-check-input" } })
                    <label class="form-check-label" asp-for="Record.HideAccountTransactions"></label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary my-2">
                    <i class="fa-solid fa-floppy-disk"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="@PagePaths.AccountIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
